{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Dons d'objets sur la métropole lilloise{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page_home') }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    {% endblock %}

{% block body %}

    <h1>La Recyclotte, donnez une seconde vie à vos objets</h1>

    <section class="banner">
        <div class="container-xl">
            <div class="row">
                <div class="col-xl-6 col-xxl-12 text-center align-v">
                    <h2>N'abandonnez pas, <span class="uppercase">donnez</span></h2>
                    <h3>Meubles, vaisselle, électro-ménager, décoration, jouets...</h3>
                    <a href="#" class="btn btn-action">Je donne un objet</a><br>
                    <span class="text-bigger">Dans la <strong>métropole lilloise</strong></span>
                </div>
            </div>
        </div>
    </section>

    <section class="concept">
        <div class="container py-5 text-center">
            <div class="title">
                <h2>Comment ça marche ?</h2>
                <h3>Donner/récupérer un objet en quelques clics dans la <strong>métropole lilloise</strong> !</h3>
            </div>
            <div class="row">
                <div class="col-md-4 px-5 py-4">
                    <div class="picto">
                        <img src="{{asset('build/images/register-concept.png')}}" alt="Etape 1 sur 3 : Création de compte">
                        <div class="process">1</div>
                    </div>
                    <br>
                    <h4 class="pb-3 pt-5">Créez votre compte</h4>
                    <p class="grey">Créez votre compte en ligne sur <a href="#" class="link" title="Site internet La Recyclotte">la-recyclotte.fr</a></p>
                </div>
                <div class="col-md-4 px-5 py-4">
                    <div class="picto">
                        <img src="{{asset('build/images/post-concept.png')}}" alt="Etape 2 sur 3 : Poster ou réserver un objet">
                        <div class="process">2</div>
                    </div>
                    <br>
                    <h4 class="pb-3 pt-5">Annoncez/réservez votre objet</h4>
                    <p class="grey">Choisissez votre objet en fonction de vos besoins.</p>
                </div>
                <div class="col-md-4 px-5 py-4">
                    <div class="picto">
                        <img src="{{asset('build/images/give-concept.png')}}" alt="Etape 3 sur 3 : Donner ou récupérer un objet">
                        <div class="process">3</div>
                    </div>
                    <br>
                    <h4 class="pb-3 pt-5">Donnez/récupérez votre objet</h4>
                    <p class="grey">Faites plaisir en donnant une seconde vie à l’objet.</p>
                </div>
            </div>
            <hr>
            <p class="pb-5">Ensemble, recyclons intelligent.</p>
            <a href="{{path('concept')}}" class="btn btn-primary mb-4">Je découvre le concept</a>
        </div>
    </section>
    
    <section class="products">
        <div class="container py-5">
            <div class="title  text-center">
                <h2>Derniers objets ajoutés</h2>
                <h3>Donnez-leur une seconde vie !</h3>
            </div>
            
            <!-- START SPLIDE SLIDER-->
            <div class="splide pt-4 pb-5">
                <div class="splide__track">
                    <ul class="splide__list">

                        <!-- START Slide 1 -->
                        {% for product in products %}
                            <li class="splide__slide">
                                <div class="d-flex justify-content-center">
                                    <div class="card product-card margin-cards">
                                        <img src="{{ asset ('build/images/' ~ product.picture) }}" class="card-img-top product-img" alt="{{ product.title }}">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="card-title bold">{{ product.title }}</h4>
                                                <p class="blue bold">{{ product.state.name }}</p>   
                                            </div>
                                            <p class="card-text"><i class="fas fa-map-marker-alt orange"></i>{{ product.city }} ({{ product.zipcode.code }})</p>
                                            <p class="card-text grey bold">Posté le {{ product.createdAt|date('d M Y')}} à {{ product.createdAt|date('h:m') }}</p>
                                            <hr>
                                            <div class="text-center">
                                                <a href="#" class="btn btn-secondary">Voir l'objet en détail</a>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- END Slide 1 -->
                        
                    </ul>
                </div>
            </div>
            <!-- END SPLIDE SLIDER-->

            <hr>
            <div class="text-center">
                <p class="pb-5">Si vous n'en n'avez plus l'usage, pensez au partage.</p>
                <a href="{{path('product_list')}}" class="btn btn-primary mb-4">Voir tous les objets</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_home') }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
{% endblock %}
