{% extends 'base.html.twig' %}

{% block title %}Dépot annonce - {{ parent() }}{% endblock %}

 
{% block stylesheets %}
    	{{ encore_entry_link_tags('page_product') }}
{% endblock %}

{% block body %}
<div class="container col-sm-12 col-md-6 col-lg-4  mt-3">
    <h1 class="text-center">Donner un objet</h1>
        
    <section class= "d-flex flex-column align-items-center form-product" >
            {{ form_start (form, {
                'attr': {'novalidate':'validate'},
                'method':'POST',
            })
            }}
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.name ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.category ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.etat ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.picture ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.description ) }}        
                    </div>
                </div>
                <div class="row">
                    <button class="col btn-secondary mb-3 mt-3">Enrgistrer</button>
                </div>
            {{ form_end (form) }}
    </section>   
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_product') }}
{% endblock %}