{% extends 'base.html.twig' %}

{% block title %}Dépot annonce - {{ parent() }}{% endblock %}

 
{% block stylesheets %}
    	{{ encore_entry_link_tags('page_product') }}
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig'%}
{% block body %}


<div class="background-white px-5 py-3">
    <span>Accueil > </span>
    <span class="bold">Donner un objet</span>
</div>
<div class="container justify-content-center col-sm-8 col-md-8 col-lg-8  mt-3">
    <div class = " text-center pt-5" >
        <h1 >Donner un objet</h1>
        <h2>Dans la <span class="bold">métropole lilloise</span></h2> 
    </div>
    <div class= "d-flex flex-column align-items-center form-product  mb-5" >
            {{ form_start (form, {
                'attr': {'novalidate':'validate'},
                'method':'POST',
            })
            }}
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.title ) }}        
                    </div>
                </div>
                <div class="row mt-6">
                    <div class = "col">
                        {{ form_row( form.category ) }}        
                    </div>
                    <div class = "col">
                       {{ form_row( form.state ) }}     
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.picture ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.description ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.city ) }}        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class = "col">
                        {{ form_row( form.zipcode ) }}        
                    </div>
                </div>           
                <div class="row mt-3">
                    <div class = "col form">
                        {{ form_row( form.endAt ) }}        
                    </div>
                </div>
                <div class="row mt-3 mb-3 justify-content-center">
                    <button class=" col-4 col-sm-6 col-xs-12 btn btn-action text-center">Enregistrer</button>
                </div>
            {{ form_end (form) }}
    </div>    
</div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_product') }}
{% endblock %}