{% extends 'base.html.twig' %}

{% block title %}Les objets - {{ parent() }}{% endblock %}


{% block stylesheets %}
{{ encore_entry_link_tags('page_product-display') }}
{% endblock %}

{% block body %}

<section class="product">
    <div class="container py-5">

        {# Start Preview #}
        {% if app.user is not empty and app.user == product.user and product.enabled == false %}
            <div class="d-flex justify-content-center mb-5 preview">
                <p class="text-center mb-0 py-2"> Aperçu de votre annonce en cours de validation.</p>
            </div>
        {% endif %}

        {# Start Title #}
        <div class="title text-center">
            <div class="d-flex justify-content-center align-items-center">
                <img class="px-1" src="{{asset('build/images/' ~ product.category.icon)}}" alt="Catégorie {{ product.category.name }}">
                <div class="category uppercase grey px-1">{{ product.category.name }}</div>
            </div>
            <hr>    
            <h1>{{ product.title }}</h1>
            <h2>à récupérer sur <span class="bold">{{ product.city }}</span> ({{ product.zipcode.code }})</h2>
        </div>
        {# End Title #}

        <div class="row">
            <div class="col-md-6 py-5">

                {# Start Product #}
                <article>
                    <div class="d-flex justify-content-center">
                        <div class="card product-card margin-cards">
                            <img src="{{asset('uploads/' ~ product.picture)}}" class="card-img-top product-img" alt="{{ product.title }}">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-start">
                                        <img class="pe-2" src="{{asset('build/images/' ~ product.category.icon)}}" alt="Catégorie {{ product.category.name }}" style="height: 22px;">
                                        <h3 class="card-title">{{ product.title }}</h3>  
                                    </div>
                                    <p class="state">{{ product.state.name }}</p>   
                                </div>
                                <p class="grey">{{ product.description }}</p>
                                <p class="grey">
                                    <i class="fas fa-map-marker-alt"></i><span class="bold">{{ product.city }}</span> ({{ product.zipcode.code }})<br>
                                    {% if product.endAt > date() %}
                                        <i class="fas fa-clock"></i>Disponible jusqu'au <span class="bold">{{ product.endAt|date("j F Y")}}</span>
                                    {% endif %}
                                </p>
                                <hr>
                                <p class="card-text grey">Posté le {{ product.createdAt|date("j F Y \à G:i")}}</p>
                            </div>
                        </div>
                    </div>
                </article>
                {# End Product #}

            </div>
            <div class="col-md-6 py-md-5">

                {# Start User #}
                <div class="d-flex justify-content-center">
                    <div class="card product-card margin-cards">
                        <div class="card-body text-center">
                            <h3 class="card-title">Informations sur le donneur</h3>
                            <div class="user py-3">{{ product.user.username }}</div>
                            <p class="grey"><span class="bold">{{ productByUser|length }}</span> annonce{{ productByUser|length > 1 ? 's' : ''}} publiée{{ productByUser|length > 1 ? 's' : ''}}.</p>
                            <hr>
                            <p class="card-text grey">Inscrit(e) sur le site depuis le <span class="bold">{{ product.user.createdAt|date("j F Y")}}</span></p>
                        </div>
                    </div>
                </div>
                {# End User #}

                {# Start Form #}
                {% if product.endAt < date() %}
                    <div class="d-flex justify-content-center mt-4">
                        <div class="card product-card margin-cards">
                            <div class="card-body">
                                <p class="text-center mb-0 text-danger"> Cette annonce n'est plus disponible.</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if app.user is not empty and app.user == product.user %}
                        <div class="d-flex justify-content-center mt-4">
                            <div class="card product-card margin-cards">
                                <div class="card-body">
                                    <h3 class="text-center"> Votre annonce n'est plus d'actualité ?</h3>
                                    <hr>
                                    <form>
                                        <div class="text-center">
                                            <button class="btn btn-action">Supprimer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center mt-4">
                            <div class="card product-card margin-cards">
                                <div class="card-body">
                                    <h3 class="text-center">Intéressé par cet objet ?</h3>
                                    <hr>
                                    <div class="mt-4">
                                        {{ form_start(form) }}
                                        <div>
                                            <div class="mt-4">
                                                {{ form_row(form.username, {
                                                    'attr' : {'value' : app.user.username ?? ""}
                                                }) }}
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                    {{ form_row(form.email, {
                                                        'attr' : {'value' : app.user.email ?? ""}
                                                    }) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(form.phone) }}
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                {{ form_row(form.message) }}
                                            </div>
                                            <div class="require grey mt-3">
                                                * champs obligatoires
                                            </div>
                                            <div class="text-center mt-4">
                                                <button class="btn btn-action">Envoyer à {{ product.user.username }}</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {# End Form #}

            </div>
        </div>
    </div>
</section>

</div>



{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('page_product-display') }}
{% endblock %}