{% extends 'base.html.twig' %}

{% block title %}Product - {{ parent() }}{% endblock %}


{% block stylesheets %}
{{ encore_entry_link_tags('page_product') }}
{% endblock %}

{% block body %}
{% set result = (products|length)  %}
{% set resultSortPage = (result / limit)|round(0,'ceil') %}
{% set pages = (total / limit)|round(0,'ceil') %}
{% set sortDate = app.request.query.get('sortDate') %}
{% set sortCat = app.request.query.get('sortCat') %}
{% set sortState = app.request.query.get('sortState') %}



<div class="container-fluid background"> {# ouverture du container  #}
    {# titre #}
    <div class="text-center pt-2 pb-3">
        <h1>Listes des Objets</h1>
        <h2>à récuperer sur <span class="bold"> Lille </span> et sa métropole</h2>
    </div>

    {# filtres de recherche #}
    <form action="{{path('product_list')}}" method="GET">
        <div class="row g-3 justify-content-center">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <select name="sortDate" class="form-select form-select-sm">
                    <option value="DESC" {{ (sortDate == 'DESC') ? "selected"  : '' }}>
                        Tri : Plus récents</option>
                    <option value="ASC" {{ (sortDate == 'ASC') ? "selected"  : '' }}>
                        Tri : Plus anciens</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3">
                <select name="sortCat" class="form-select form-select-sm">
                    <option value="">Catégorie : Toutes les catégories</option>
                    {% for cat in category %}
                    <option value="{{ cat.name }}" {{ (cat.name == sortCat) ? "selected" : '' }}>
                        Catégorie : {{ cat.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2">
                <select name="sortState" class="form-select form-select-sm">
                    <option value="">Filtre : Tous les états</option>
                    {% for stat in state %}
                    <option value="{{ stat.name }}"
                        {{ ( stat.name == sortState) ? "selected" : ''}}>
                        Etat : {{ stat.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div class=" btn d-flex justify-content-center">
                    <button class="btn btn-action text-btn-nav btn-search">Rechercher</button>
                </div>
            </div>

    </form>
    {# infos resultat #}
    <div class="row text-center mt-2 ">
        <div class="col-sm-12">
            <p>Objets disponibles: <span class="blue"> {% if sortState or sortCat  is not empty %} {{result}} {% else %}{{total}} {% endif %} </span>
                - Objets par pages :<span class="blue"> {{ result }}</span>
                - Nombre de pages :<span class="blue"> {% if sortState or sortCat  is not empty %} {{ (result / limit)|round(0,'ceil')}} {% else %}{{ pages }} {% endif %}</span></p>
        </div>
        <div>
            {% if products is empty %}
            <p>Aucun résultat trouvé</p>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-sm-6 col-md-6 col-lg- justify-content-start">
            <p>Page: <span class="blue">{{ page }}</span>
        </div>
    </div>


    {# liste des objets #}

    {% for product in products %}
    <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center my-3">
        <div class="card product-card margin-cards">
            <figure>
                <img src="{{ asset ('uploads/' ~ product.picture) }}" class="card-img-top product-img"
                    alt="{{ product.title }}">
            </figure>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title bold">{{ product.title }}</h4>
                    <p class="blue bold">{{ product.state.name }}</p>
                </div>
                <img class="pe-2" src="{{asset('build/images/' ~ product.category.icon)}}" alt="Catégorie {{ product.category.name }}" style="height: 22px;">
                <p class="blue bold">{{ product.category.name }}</p>
                <p class="card-text"><i class="fas fa-map-marker-alt orange"> </i> {{ product.city }}
                    ({{ product.zipcode.code }})</p>
                <p class="card-text grey bold">Posté le {{ product.createdAt|date("j M Y \à G:i") }}</p>
                <hr>
                <div class="text-center">
                    <a href="{{ path('product_display', {id: product.id}) }}" class="btn btn-secondary">
                    Voir l'objet en détail</a>
                       
                </div>
            </div> 
        </div>
    </div>
    {% endfor %}

</div> {#  fin container #}

{# pagination #}
<div class=" d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{ ( page == 1 ) ? 'disabled' : ''}}">
                <a class="page-link" href="{{ (page >  1 ) ? '?page=' ~ ( page - 1 ) :'' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if sortState or sortCat  is not empty %}
            {% for item in 1..resultSortPage %}
              <li class="page-item {{ ( page == item) ? 'active' : ''}}">
                <a class="page-link" href="?page={{ item }}">{{ item }}</a>
             </li>
            {% endfor %}
            {% else %}
             {% for item in 1..pages %}
                <li class="page-item {{ ( page == item) ? 'active' : ''}}">
                    <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                </li>
             {% endfor %}   
            {% endif %}
            
            <li class="page-item">
                <a class="page-link" href="?page={{page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_product') }}
{% endblock %}