<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}La Recyclotte
			{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}


	</head>


	<body>
		{% include "components/header.html.twig" %}

<<<<<<< HEAD
        <main>
		
		{% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
		{% endfor %}
		{% endfor %}

		{% block body %}{% endblock %}
=======
		<main>

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						{{ message }}
					</div>

				{% endfor %}
			{% endfor %}

			{% block body %}{% endblock %}
>>>>>>> master
		</main>

		{% include "components/share.html.twig"%}

		{% include "components/footer.html.twig" %}

		<div>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

		{{ encore_entry_script_tags('app') }}

		{% block javascripts %}{% endblock %}
	</body>
</html>
