{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page_product-display') }}
    {{ encore_entry_link_tags('page_profile') }}
{% endblock %}

{% block body %}
<section class="profile">
    <div class="container py-5">
        <h1 class="text-center">Mon compte</h1>
        <div class="row d-flex justify-content-center py-5">

            <div class="col-md-3 mb-4">
                <div class="min-nav">
                    {# Start Nav #}
                    {% include "components/profil-nav.html.twig" %}
                    {# End Nav #}
                </div>
            </div>

            <div class="col-md-7">
                    {# Start Profile #}
                        <div class="card product-card product-profile">
                            <div class="card-body">
                                <h2 class="pt-3">Êtes-vous sûr(e) ?</h2>
                                <hr>
                                <p>Voulez vous vraiment supprimer votre compte ?</p>

                            </div>
                        </div>
                      
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal">
                                <a href="{{ path('user_account_profile')}}">Retour</a> 
                            </button>
                            
                            <button type="button" class="btn btn-secondary">
                                <a href="{{ path('user_account_deleteuser', { 'id': app.user.id }) }}">Confirmer</a>
                            </button>
                        </div>
                    {# End Profile #}                    
                        
            </div>
            
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_product-display') }}
    {{ encore_entry_script_tags('page_profile') }}
{% endblock %}