{% extends 'base.html.twig' %}
   
{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.lastname }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    	{{ encore_entry_link_tags('page_profile') }}
{% endblock %}

   {% block body %}

   <div class="container-fluid h-100">
    <div class="row h-100">
      <aside class="col-12 col-md-2 p-0">
        <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-start">
          <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{{ path('user_account_profile')}}">Mon profil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#">Mes annonces</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link pl-0" href="#">Mes messages</a>
                </li>
                        
            </ul>
          </div>
        </nav>
      </aside>
      
    <main class="col">
        <div class="container">
            <div class="">
            <h2>Modification du profil de {{ app.user.firstname }} {{ app.user.lastname }}</h2>
            {{ form(form) }}                            
        </div>
    </main>
            

    {% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('page_profile') }}
{% endblock %}