{% extends 'base.html.twig' %}
   
{% block title %}Mes annonces - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page_product-display') }}
    {{ encore_entry_link_tags('page_profile') }}
{% endblock %}

{% block body %}
<section class="profile">
    <div class="container py-5">
        <h1 class="text-center">Mon compte</h1>
        <div class="row d-flex justify-content-center py-5">

            <div class="col-md-3 mb-4">
                <div class="min-nav">
                    {# Start Nav #}
                    {% include "components/profil-nav.html.twig" %}
                    {# End Nav #}
                </div>
            </div>
            
                <div class="col-lg-7">

                    {# Start Products #}
                    {% for product in app.user.products %}
                        <div class="card product-card product-product">
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure>
                                        <img src="{{ asset ('uploads/' ~ product.picture ) }}" class="card-img-top product-img" alt="{{product.title}}">
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="card-title bold">{{ product.title }}</div>
                                            <p class="blue bold">{{ product.state.name }}</p>   
                                        </div>
                                        <div class="card-text">
                                            <i class="fas fa-map-marker-alt orange"></i> {{product.city}} ({{ product.zipcode.code}})
                                        </div>     
                                        <div>
                                            <p class="card-text grey bold pt-3">Posté le {{ product.createdAt|date("j M Y \à G:i") }}</p>
                                            <hr>
                                            <div>
                                                <a href="#">Supprimer mon annonce</a>
                                            </div>            
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2 mb-5">
                            <a href="{{ path('product_display', {id: product.id}) }}" class="btn btn-action">Afficher</a>
                        </div>
                    {% endfor %}
                    {# End Products #}
            </div>
            
        </div>
    </div>
</section>
    {% endblock %}




{% block javascripts %}
    {{ encore_entry_script_tags('page_product-display') }}
    {{ encore_entry_script_tags('page_profile') }}
{% endblock %}