{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page_product-display') }}
    {{ encore_entry_link_tags('page_profile') }}
{% endblock %}

{% block body %}
<section class="profile">
    <div class="container py-5">
        <h1 class="text-center">Mon compte</h1>
        <div class="row d-flex justify-content-center py-5">

            <div class="col-md-3 mb-4">
                <div class="min-nav">
                    {# Start Nav #}
                    {% include "components/profil-nav.html.twig" %}
                    {# End Nav #}
                </div>
            </div>

            <div class="col-md-7">

                    {# Start Profile #}
                        <div class="card product-card product-profile">
                            <div class="card-body">
                                <div class="d-flex pb-3">
                                    <div>
                                        <img src="{{ asset('build/images/default-avatar.jpg') }}" alt="" class="avatar">
                                    </div>
                                    <div class="align-self-center">
                                        <div class="username">{{ app.user.username }}</div>
                                    </div>
                                </div>
                                <hr>
                                <h2 class="pt-3">A propos de moi</h2>
                                <p class="grey pt-1">{{ app.user.firstname }} {{ app.user.lastname }}<br>{{ app.user.email }}
                                </p>
                                <h2 class="pt-3">Informations sur le compte</h2>
                                <p class="grey pt-1">Compte créé le {{ app.user.createdAt|date("j F Y \à G:i") }}</p>
                                <div class="pt-3">
                                    <a href="{{ path('user_account_deleteuserPage')}}">Supprimer mon compte</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <a href="{{ path('user_account_editprofile')}}" class="btn btn-action">Modifier</a>
                        </div>
                    {# End Profile #}                    
                        
            </div>
            
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page_product-display') }}
    {{ encore_entry_script_tags('page_profile') }}
{% endblock %}