<div class="bg-green">

	<div class="container py-5 responsive">

		<div class="text-center">
			<h2 class="text-share ">Participation et partage</h2>
			<p class="text-share">Votre soutien nous est précieux !</p>
		</div>

		<div
			class="d-flex justify-content-center responsive ">
			{# card 1 left #}
			<div class="card text-center mx-4" style="width: 20rem;">
				<img src=" {{asset('build/images/contribution-119x93.png')}}" class="card-img-top img-share" alt="logo contribution au projet la recyclotte">
				<div class="card-body px-3">
					<p class="card-text mb-0">Soutenez le projet sur</p>
					<a class="link mb-2" href="#">soutien-la-recyclotte.fr</a>
					<p class="text-grey">Votre contribution nous aidera à maintenir le site
						<a class="link" href="{{path('main_home')}}">la-recyclotte.fr</a>
						et à poursuivre notre mission éco-solidaire</p>
				</div>
			</div>

			{# card 2 right #}
			<div class="card text-center mx-4 " style="width: 20rem;">
				<img src="{{asset('build/images/share-97x105.png')}}" class="card-img-top img-share" alt="logo de partage sur les reseaux sociaux">
				<div class="card-body px-3">
					<p class="card-text">Partagez sur les réseaux sociaux</p>
					<div class="d-flex justify-content-center pt-3">
						<a href="#"><img src="{{asset('build/images/facebook-45x45.png')}}" class="px-2" alt="Icône Facebook"></a>
						<a href="#"><img src="{{asset('build/images/twitter-54x44.3875ed56.png')}}" class="px-2" alt="Icône Facebook"></a>
						<a href="#"><img src="{{asset('build/images/instagram-45x45.png')}}" class="px-2" alt="Icône Facebook"></a>
					</div>

				</div>


			</div>
		</div>

	</div>

</div>
